In [130]:
# Importações de Bibliotecas Necessárias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from datetime import datetime
from datetime import timedelta

In [131]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import scale

In [132]:
# Load Generated Dataset (From DataGenerator_v5)
print("Reading CSV...")
df = pd.read_csv('generated_dataset_article_grouped_hour.csv', dayfirst=True, parse_dates=['timeFrom'], index_col='timeFrom')
print("Done!")
df

Reading CSV...
Done!

,isWeekday,isRain,isHoliday,TotalParkings,parking,region
timeFrom,,,,,,
2013-01-01 10:00:00,1,0,1,21,IPB,Cantina
2013-01-01 11:00:00,1,0,1,25,IPB,Cantina
2013-01-01 12:00:00,1,0,1,36,IPB,Cantina
2013-01-01 13:00:00,1,0,1,28,IPB,Cantina
2013-01-01 14:00:00,1,0,1,18,IPB,Cantina
...,...,...,...,...,...,...
2017-12-31 19:00:00,0,0,0,140,Bus Station,Main
2017-12-31 20:00:00,0,0,0,98,Bus Station,Main
2017-12-31 21:00:00,0,0,0,119,Bus Station,Main
2017-12-31 22:00:00,0,0,0,185,Bus Station,Main
2017-12-31 23:00:00,0,0,0,32,Bus Station,Main

In [133]:
# Split Important Time Variables 
df['hour'] = df.index.hour
#df['month'] = df.index.month
#df['weekday'] = df.index.weekday
#df['isRain'] = df['isRain'].astype('bool')
#df['isHoliday'] = df['isHoliday'].astype('bool')
#df['isWeekday'] = df['isWeekday'].astype('bool')
df['regpark'] = df['parking'] + ' - ' + df['region']

# Remove Unnecessary variables
df = df.drop(columns=['region','parking'])

# Show DataFrame
df

,isWeekday,isRain,isHoliday,TotalParkings,hour,regpark
timeFrom,,,,,,
2013-01-01 10:00:00,1,0,1,21,10,IPB - Cantina
2013-01-01 11:00:00,1,0,1,25,11,IPB - Cantina
2013-01-01 12:00:00,1,0,1,36,12,IPB - Cantina
2013-01-01 13:00:00,1,0,1,28,13,IPB - Cantina
2013-01-01 14:00:00,1,0,1,18,14,IPB - Cantina
...,...,...,...,...,...,...
2017-12-31 19:00:00,0,0,0,140,19,Bus Station - Main
2017-12-31 20:00:00,0,0,0,98,20,Bus Station - Main
2017-12-31 21:00:00,0,0,0,119,21,Bus Station - Main
2017-12-31 22:00:00,0,0,0,185,22,Bus Station - Main
2017-12-31 23:00:00,0,0,0,32,23,Bus Station - Main

In [134]:
# Filter just one Parking and Remove String Column
selected_parking = 'Bus Station - Main'

#df.reset_index()
#df = df.drop(columns=['timeFrom'])

df = df[df['regpark'] == selected_parking]
df = df.drop(columns=['regpark'])
df

                     isWeekday  isRain  isHoliday  TotalParkings  hour
timeFrom
2013-01-01 00:00:00          1       0          1            169     0
2013-01-01 01:00:00          1       0          1            185     1
2013-01-01 02:00:00          1       0          1             95     2
2013-01-01 03:00:00          1       0          1             54     3
2013-01-01 04:00:00          1       0          1            107     4
...                        ...     ...        ...            ...   ...
2017-12-31 19:00:00          0       0          0            140    19
2017-12-31 20:00:00          0       0          0             98    20
2017-12-31 21:00:00          0       0          0            119    21
2017-12-31 22:00:00          0       0          0            185    22
2017-12-31 23:00:00          0       0          0             32    23

[43824 rows x 5 columns]

In [135]:
import pandas as pd
from sklearn.datasets.samples_generator import make_blobs
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=192)
y = kmeans.fit_predict(df[['isWeekday', 'isRain', 'isHoliday', 'hour']])
df['Cluster'] = y

print(df.head())

                     isWeekday  isRain  isHoliday  TotalParkings  hour  \
timeFrom
2013-01-01 00:00:00          1       0          1            169     0
2013-01-01 01:00:00          1       0          1            185     1
2013-01-01 02:00:00          1       0          1             95     2
2013-01-01 03:00:00          1       0          1             54     3
2013-01-01 04:00:00          1       0          1            107     4

                     Cluster
timeFrom
2013-01-01 00:00:00       97
2013-01-01 01:00:00      107
2013-01-01 02:00:00      104
2013-01-01 03:00:00       98
2013-01-01 04:00:00      115

In [136]:
df.sort_values('Cluster').value_counts('Cluster')

Cluster
34     734
10     731
22     728
19     727
16     727
      ...
188      7
189      7
190      7
187      7
191      7
Length: 192, dtype: int64

In [137]:
df2 = df.copy()
df2 = df2[df2['Cluster'] == 34]
df2

,isWeekday,isRain,isHoliday,TotalParkings,hour,Cluster
timeFrom,,,,,,
2013-02-01 06:00:00,1,0,0,135,6,34
2013-03-01 06:00:00,1,0,0,129,6,34
2013-04-01 06:00:00,1,0,0,97,6,34
2013-07-01 06:00:00,1,0,0,102,6,34
2013-08-01 06:00:00,1,0,0,164,6,34
...,...,...,...,...,...,...
2017-12-22 06:00:00,1,0,0,122,6,34
2017-12-26 06:00:00,1,0,0,112,6,34
2017-12-27 06:00:00,1,0,0,131,6,34
2017-12-28 06:00:00,1,0,0,126,6,34
2017-12-29 06:00:00,1,0,0,95,6,34

In [138]:
df2 = df.copy()
df2 = df2[df2['Cluster'] == 191]
df2

,isWeekday,isRain,isHoliday,TotalParkings,hour,Cluster
timeFrom,,,,,,
2013-09-15 20:00:00,0,1,1,126,20,191
2013-02-11 20:00:00,0,1,1,144,20,191
2014-07-09 20:00:00,0,1,1,169,20,191
2014-02-11 20:00:00,0,1,1,93,20,191
2016-10-04 20:00:00,0,1,1,197,20,191
2016-11-06 20:00:00,0,1,1,191,20,191
2017-11-06 20:00:00,0,1,1,136,20,191

In [140]:
train_size = 90
test = int(len(df) * ((100 - train_size) / 100))

df_train = df.iloc[:-test]
df_test = df.iloc[-test:]

print("Train: ",len(df_train))
print("Test: ",len(df_test))

Train:  39442
Test:  4382

In [141]:
df_train

,isWeekday,isRain,isHoliday,TotalParkings,hour,Cluster
timeFrom,,,,,,
2013-01-01 00:00:00,1,0,1,169,0,97
2013-01-01 01:00:00,1,0,1,185,1,107
2013-01-01 02:00:00,1,0,1,95,2,104
2013-01-01 03:00:00,1,0,1,54,3,98
2013-01-01 04:00:00,1,0,1,107,4,115
...,...,...,...,...,...,...
2017-02-07 05:00:00,0,1,0,95,5,89
2017-02-07 06:00:00,0,1,0,112,6,11
2017-02-07 07:00:00,0,1,0,234,7,87
2017-02-07 08:00:00,0,1,0,204,8,82
2017-02-07 09:00:00,0,1,0,73,9,88

In [142]:
#df_test['TotalParkings'] = 0
df_test

,isWeekday,isRain,isHoliday,TotalParkings,hour,Cluster
timeFrom,,,,,,
2017-02-07 10:00:00,0,1,0,103,10,91
2017-02-07 11:00:00,0,1,0,120,11,71
2017-02-07 12:00:00,0,1,0,71,12,75
2017-02-07 13:00:00,0,1,0,79,13,86
2017-02-07 14:00:00,0,1,0,80,14,70
...,...,...,...,...,...,...
2017-12-31 19:00:00,0,0,0,140,19,73
2017-12-31 20:00:00,0,0,0,98,20,25
2017-12-31 21:00:00,0,0,0,119,21,65
2017-12-31 22:00:00,0,0,0,185,22,68
2017-12-31 23:00:00,0,0,0,32,23,8

In [143]:
def predict_by_average(train_df, predict_df):
    predict_parkings = []
    for row, index in predict_df.iterrows():
        df_mean = train_df.copy()
        df_mean = df_mean[df_mean['Cluster'] == index['Cluster']]
        predict_parkings.append(df_mean['TotalParkings'].mean())

    predict_df['TotalParkingsPredict'] = predict_parkings
    return predict_df

In [144]:
print("Running...")
predict_df = predict_by_average(df_train, df_test)
print("Done!")

Running...
Done!

C:\Users\lrmen\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [146]:
predict_df

,isWeekday,isRain,isHoliday,TotalParkings,hour,Cluster,TotalParkingsPredict
timeFrom,,,,,,,
2017-02-07 10:00:00,0,1,0,103,10,91,113.366834
2017-02-07 11:00:00,0,1,0,120,11,71,107.190244
2017-02-07 12:00:00,0,1,0,71,12,75,72.591133
2017-02-07 13:00:00,0,1,0,79,13,86,73.919598
2017-02-07 14:00:00,0,1,0,80,14,70,87.436275
...,...,...,...,...,...,...,...
2017-12-31 19:00:00,0,0,0,140,19,73,105.883534
2017-12-31 20:00:00,0,0,0,98,20,25,83.375510
2017-12-31 21:00:00,0,0,0,119,21,65,92.988048
2017-12-31 22:00:00,0,0,0,185,22,68,148.497992
2017-12-31 23:00:00,0,0,0,32,23,8,33.342975

In [147]:
df3_dif = {'difference': [], 'proximity': []}

for row, index in predict_df.iterrows():
    prox_math = 100 - abs(round((((index['TotalParkingsPredict'] * 100) / index['TotalParkings'])) - 100, 2))
    df3_dif['proximity'].append(prox_math)
    
    dif_math = round((((index['TotalParkingsPredict'] * 100) / index['TotalParkings'])) - 100, 2)
    df3_dif['difference'].append(dif_math)
        
predict_df['PredictProximity'] = df3_dif['proximity']
predict_df['PredictDifference'] = df3_dif['difference']

predict_df

C:\Users\lrmen\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\lrmen\anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

,isWeekday,isRain,isHoliday,TotalParkings,hour,Cluster,TotalParkingsPredict,PredictProximity,PredictDifference
timeFrom,,,,,,,,,
2017-02-07 10:00:00,0,1,0,103,10,91,113.366834,89.94,10.06
2017-02-07 11:00:00,0,1,0,120,11,71,107.190244,89.33,-10.67
2017-02-07 12:00:00,0,1,0,71,12,75,72.591133,97.76,2.24
2017-02-07 13:00:00,0,1,0,79,13,86,73.919598,93.57,-6.43
2017-02-07 14:00:00,0,1,0,80,14,70,87.436275,90.70,9.30
...,...,...,...,...,...,...,...,...,...
2017-12-31 19:00:00,0,0,0,140,19,73,105.883534,75.63,-24.37
2017-12-31 20:00:00,0,0,0,98,20,25,83.375510,85.08,-14.92
2017-12-31 21:00:00,0,0,0,119,21,65,92.988048,78.14,-21.86
2017-12-31 22:00:00,0,0,0,185,22,68,148.497992,80.27,-19.73
2017-12-31 23:00:00,0,0,0,32,23,8,33.342975,95.80,4.20

In [148]:
#predict_df['PredictDifference'] = predict_df['PredictDifference'].astype(str)  + "%"

#predict_df

In [149]:
# Statistics
p1 = len(predict_df[predict_df['PredictProximity'] >= 95])
p2 = len(predict_df[(predict_df['PredictProximity'] >= 90) & (predict_df['PredictProximity'] < 95)])
p3 = len(predict_df[(predict_df['PredictProximity'] >= 80) & (predict_df['PredictProximity'] < 90)])
p4 = len(predict_df[(predict_df['PredictProximity'] >= 70) & (predict_df['PredictProximity'] < 80)])
p5 = len(predict_df[(predict_df['PredictProximity'] >= 60) & (predict_df['PredictProximity'] < 70)])
p6 = len(predict_df[(predict_df['PredictProximity'] >= 50) & (predict_df['PredictProximity'] < 60)])
p7 = len(predict_df[predict_df['PredictProximity'] < 50])
p_total = len(predict_df)

statistics = pd.DataFrame(
    {
        "Predict Proximity": [
            '95% ~ 100%',
            '90% ~ 95%',
            '80% ~ 90%',
            '70% ~ 80%',
            '60% ~ 70%',
            '50% ~ 60%',
            'less than 50%',
            '',
            'Total Records',
        ],
        "Total": [
            str(p1) + ' records',
            str(p2) + ' records',
            str(p3) + ' records',
            str(p4) + ' records',
            str(p5) + ' records',
            str(p6) + ' records',
            str(p7) + ' records',
            '',
            str(p_total) + ' records',
        ],
        "Percentage": [
          str(round(p1 * 100 / p_total, 2)) + "%",
          str(round(p2 * 100 / p_total, 2)) + "%",
          str(round(p3 * 100 / p_total, 2)) + "%",
          str(round(p4 * 100 / p_total, 2)) + "%",
          str(round(p5 * 100 / p_total, 2)) + "%",
          str(round(p6 * 100 / p_total, 2)) + "%",
          str(round(p7 * 100 / p_total, 2)) + "%",
          '',
          "100%",  
        ]
    }
)

statistics

  Predict Proximity         Total Percentage
0        95% ~ 100%   713 records     16.27%
1         90% ~ 95%   669 records     15.27%
2         80% ~ 90%  1196 records     27.29%
3         70% ~ 80%   970 records     22.14%
4         60% ~ 70%   491 records      11.2%
5         50% ~ 60%   200 records      4.56%
6     less than 50%   143 records      3.26%
7
8     Total Records  4382 records       100%